extends layout

block content

  h1 Install a Bot Into Your Workplace Tenant

  p.
    This app demonstrates:

  ul
    li A single Workplace app that may be installed many times into a single Workplace tenant
    li Custom app naming and optional permisisons
    li Webhook processing
    li Correlating a webhook's page id with the corresponding installation access token
    li Replying to an incoming chat message

  - const dialogBase = `https://work.facebook.com/v3.3/dialog`;
  - const dialogFeatures = [['width', 800], ['height', 800], ['left', 100], ['top', 100]].map(feature => feature[0] + '=' + feature[1]).join(',')
  - const onsubmit = `window.open('', 'wp', '${dialogFeatures}'); this.target = 'wp'`;

  form(action=dialogBase + '/work/app_install' method="get" onsubmit=onsubmit)
    input(type="hidden", name="app_id", value=appId)
    input(type="hidden", name="redirect_uri", value=redirectUri)
    div.form-group
      p Permissions:
        each val in ["message", "read_user_email", "receive_security_logs"]
          div.checkbox-inline
            input.checkbox-input(type='checkbox', name=`permissions[]`, value=val, id=`perm_${val}`)
            label(for=`perm_${val}`)=val
    div.form-group
      label(for='suggested_page_name') Bot name:
      input.form-control(type='text' id='suggested_page_name' placeholder='Bot name' name='suggested_page_name')
    button(type="submit") Start Install
